.**
!.gitignore
env/
*.log
venv/
ENV/
**.pyc

# Custom files for analysis
inputs/*
outputs/*
load_profiles/*
electric_rates/*


# Notebooks, except example/templates
!single_scenario_example.ipynb
!multi_scenario_example.ipynb
