.**
!.gitignore
env/
*.log
venv/
ENV/
**.pyc

.vscode/

src/__pycache__/*

# Custom inputs/outputs files
inputs/*
outputs/*

# Notebooks, except example/templates
*.ipynb
!single_scenario_example.ipynb
!multi_scenario_example.ipynb


